/*- Custom style -*/

// -- Put custom style under this point -- //
#header {
	h1 {
	  font-family: 'Lato', sans-serif;
	  font-weight: 100;
	  color: #CF1010;
  }
  span {
  	font-weight: 700;
  }
  h3 {
  	padding: 0;
  	font-weight: 300;
  	color: #888;
  }
  &:after {
		height: 24px;
		margin: 24px auto;
		background: url(/img/arrow.svg) center no-repeat;
	}
}

#nav span {
		display: block;
		margin-bottom: 24px;
}

#nav .social {
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center;
	margin-left: 11px;
	width: 30px;
	height: 30px;
	@media (min-width: 940px) {
		margin-left: 15px;
	    width: 40px;
	    height: 40px;
	}
	&:hover {
		background-color: transparent;
		opacity:0.8;
	}
	&.plus {
		background-image: url(/img/plus-icon.svg);
	}
	&.github {
		background-image: url(/img/hub-icon.svg);
	}
	&.linkedin {
		background-image: url(/img/ink-icon.svg);
	}
	&.behance {
		background-image: url(/img/be-icon.svg);
	}
}

#nav #theme {
	display: block;
	font-size: 1em;
	margin-top: 12px;
	font-weight: 200;
	&:hover {
		background-color: lighten($main-color, 0%);
		color: $background-color;
		text-decoration: underline;
	}
}

img[title="Engeene"], img[title="GDG Milano"], img[title="Emerald"] {
  box-shadow: 0 2px 6px #ddd;
}

table {
    background-color: #f3f3f3;
    border-collapse: collapse;
    margin-bottom: 24px;
    width: 100%;
}

thead {
	background-color: #FF201D;
}

th, td {
    border: 1px solid #666;
    padding: .35rem;
    @media (min-width: 940px) {
    	padding: .5rem;
    }
    text-align: center;
}

p {
  text-align: justify;
}

td:first-child {
	font-weight: bold;
	text-align: left;
}

.highlighter-rouge {
	background-color: bisque;
	border: 1px solid #ccc;
	border-radius: 4px;
    padding: 0 4px;
}
.page__content {

  text-align: justify;
}
